body {
  background-image: linear-gradient(to right, #00aeff, #00ff40);
  font-family: Arial, sans-serif;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card {
  width: 300px;
  background-color: white;
  padding: 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-image {
  max-width: 100%;
}

a {
  color: black;
}

a:hover {
  color: #00aeff;
}

a:active {
  color: grey;
}

a:visited {
  color: #00ff40;
}
